.venv/
__pycache__/
*.pyc

backend/.env
frontend/.env*
!frontend/.env.example
!backend/.env.example

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/serviceAccountKey.json
frontend/*.tsbuildinfo

*.log
